<template>
    <div>
        <header class="main-header column-wrapper">
            <div class="left-column logo-wrap">
                <img v-bind:src="options.logo" alt="logo">
            </div>
            <div class="main-column">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="input-group">
                                <input type="text" class="form-control" v-model="conversationSearch" placeholder="Search">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                </span>
                            </div><!-- /input-group -->
                        </div>

                        <div class="col-sm-6 menu hidden-xs">
                            <span class="username">Hillary</span>
                            <span class="grid-menu dropdown">
                                <span class="glyphicon glyphicon-th dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                                <ul class="dropdown-menu">
                                    <li v-for="link in options.grid_links">
                                        <a target="_blank" href="{{ link.url }}">{{ link.text }}</a>
                                    </li>
                                </ul>
                            </span>
                            <span class="notifications"><span class="glyphicon glyphicon-bell"></span></span>
                            <span class="user-icon">H</span>
                        </div>

                    </div>
                </div>
            </div>
        </header><!-- main-header -->

        <header class="secondary-header column-wrapper hidden-xs">
            <div class="left-column">
                <span>Mail</span>
            </div>
            <div class="main-column">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-sm-6 text-left">
                            <button class="btn btn-default">
                                <input type="checkbox">
                                <span class="caret"></span>
                            </button>

                            <button class="btn btn-default">
                                <span class="glyphicon glyphicon-repeat"></span>
                            </button>

                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    More <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="more-button-option" @click="markEmailsAsDeleted">
                                        {{ options.more_button_option_text }}
                                    </a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-6 text-right">
                            <span class="page-count">1 - {{ conversations.length }} of 2016</span>

                            <span class="paginator btn-group">
                                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-menu-left"></span></button>
                                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-menu-right"></span></button>
                            </span>

                            <button class="btn btn-default">
                                <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </header>

        <main class="column-wrapper">
            <div class="left-column" v-bind:class="{ 'open': menuIsOpen }">
                <div class="sign-up-wrap">
                    <a class="btn btn-default sign-up" @click="openComposeWindow">Sign Up</a>
                </div>

                <ul class="folders">
                    <li
                        class="inbox"
                        v-link="{ path: '/', exact: true }">
                        Inbox ({{ unreadCount }})
                    </li>
                    <li
                        class="starred"
                        v-link="{ path: '/starred' }">
                        Starred ({{ starredCount }})
                    </li>
                    <li class="sent" v-link="{ path: '/sent' }">Sent Mail</li>
                    <li class="drafts">Drafts</li>
                    <li
                        class="tag"
                        v-for="tag in tags"
                        v-link="{ path: '/tags/' + tag.slug }">
                        {{ tag.name }}
                        <span class="tag-color" v-bind:style="{backgroundColor: tag.background}"></span>
                    </li>
                </ul>

                <div class="left-column-inner hidden-xs">
                    <div class="hillary-profile clearfix">
                        <span class="photo"><img v-bind:src="hillaryPhoto" alt="Hillary Clinton"></span>
                        <span class="status-icon status-active"></span>
                        <a class="btn btn-default phone" data-toggle="modal" data-target="#phoneModal">
                            <span class="glyphicon glyphicon-earphone"></span>
                        </a>
                    </div>

                    <div class="hillary-status">
                        <p>{{ options.hillary_status }}</p>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control contact-search" v-model="contactName" placeholder="Search people...">
                    </div>

                    <ul class="contacts">
                        <template v-for="user in chatUsers | filterBy contactName in 'name'">
                            <li v-if="user.name !== 'Hillary Clinton'" @click="openChatWith(user.id)">
                                <span class="status-icon" v-bind:class="{'status-active': user.is_active, 'status-inactive': (!user.is_active)}"></span>
                                <span class="name">{{ user.name }}</span>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
            <div class="main-column">
                <div class="container-fluid">
                    <div class="visible-xs-block">
                        <span class="btn btn-default menu-toggle" @click="toggleMenu">
                            <i class="glyphicon glyphicon-menu-hamburger"></i>
                        </span>
                        <span
                            class="btn btn-default back-button"
                            v-show="isSingleView"
                            v-link="{ path: '/', exact: true }">
                            Back
                        </span>
                    </div>
                    <div v-show="showEmailsDeletedMessage" class="alert alert-warning emails-deleted-message" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ options.emails_deleted_message }}
                        <a href="#" class="email-delete-undo" @click="undoMarkEmailsAsDeleted">
                            <strong>Undo?</strong>
                        </a>
                    </div>
                    <router-view
                        :conversations="conversations"
                        :users="users"
                        :conversation="currentConversation"
                        :tags="tags"
                        :show-only-starred="showOnlyStarred"
                        :current-tag="currentTag"
                        :conversation-search="conversationSearch"
                        :sent-mail-message="options.sent_mail_message"
                        :waiting="waiting"
                        ></router-view>

                    <footer class="site-footer">
                        <div class="row">
                            <div class="col-xs-12">
                                {{{ options.footer_text }}}
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </main>

        <div class="chat-windows" v-show="!composeIsOpen">
            <chat-window
                v-for="chatUser in chatUsers"
                :user="chatUser"
                :index="$index"
                ></chat-window>
        </div>

        <compose-window
            v-show="composeIsOpen"
            :email-subject="options.email_subject"
            :email-body="options.email_body"
            :thank-you-message="options.thank_you_message"
            :delete-mail-message="options.compose_delete_email_message"
            ></compose-window>

        <div class="modal fade phone-modal" id="phoneModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{{ options.phone_modal_content }}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
var Vue = require('vue');
var jQuery = require('jquery');
window.jQuery = jQuery;
require('bootstrap');

import eventbus from './event-bus.js';
import store from './store.js';
import ConversationList from './conversation-list.vue';
import ConversationSingle from './conversation-single.vue';
import ChatWindow from './chat-window.vue';
import ComposeWindow from './compose-window.vue';
import SentFolder from './sent-folder.vue';

module.exports = {
    components: {
        ConversationList: ConversationList,
        ConversationSingle: ConversationSingle,
        ChatWindow: ChatWindow,
        ComposeWindow: ComposeWindow,
        SentFolder: SentFolder
    },

    data: function () {
        return {
            conversations: [],
            users: [],
            tags: {},
            options: {},
            currentConversation: null,
            showOnlyStarred: false,
            currentTag: '',
            composeIsOpen: false,
            contactName: '',
            conversationSearch: '',
            menuIsOpen: false,
            footerText: '',
            showEmailsDeletedMessage: false,
            waiting: true
        }
    },

    created: function () {
        var vm = this;
        eventbus.emit('fetch-data');
        eventbus.on('conversations-loaded', this.updateConversations);
        eventbus.on('users-loaded', this.updateUsers);
        eventbus.on('tags-loaded', this.updateTags);
        eventbus.on('options-loaded', this.updateOptions);
        eventbus.on('switch-to-conversation-view', this.switchToConversationView);
        eventbus.on('close-compose-window', this.closeComposeWindow);
        eventbus.on('show-inbox', this.showInbox);
        eventbus.on('show-starred', this.filterByStarred);
        eventbus.on('show-tag', this.filterByTag);

        eventbus.on('all-data-loaded', function(){
            var authors;
            vm.waiting = false;

            vm.options.automatic_chat_users.forEach(function(chatUser){
                window.setTimeout(vm.openAutoChat, parseInt(chatUser.popup_delay), chatUser.user);
            });

            for (var i = 0; i < vm.conversations.length; i++) {
                vm.conversations[i].all_emails_string = vm.conversations[i].emails.map(function(email, index) {
                    return email.content;
                });
                vm.conversations[i].all_emails_string = String(vm.conversations[i].all_emails_string);
            }

            if ( typeof vm.$route.params.conversation !== "undefined" ) {
                eventbus.emit('switch-to-conversation-view', vm.$route.params.conversation);
            }
        });
    },

    methods: {
        updateConversations: function() {
            this.conversations = store.getConversations();
        },

        updateUsers: function() {
            this.users = store.getUsers();
        },

        updateTags: function() {
            this.tags = store.getTags();
        },

        updateOptions: function() {
            this.options = store.getOptions();
        },

        switchToConversationView: function(conversationId) {
            var vm = this;
            conversationId = parseInt(conversationId);

            vm.conversations.forEach(function(val){
                if ( val.id === conversationId ) {
                    vm.currentConversation = val;
                    vm.currentConversation.is_read = true;
                }
            });

            document.querySelector('body').scrollTop = 0;
            document.querySelector('html').scrollTop = 0;
        },

        filterByStarred: function() {
            this.currentTag = '';
            this.showOnlyStarred = true;
        },

        filterByTag: function(tag) {
            this.currentTag = tag;
            this.showOnlyStarred = false;
        },

        showInbox: function() {
            this.currentTag = '';
            this.showOnlyStarred = false;
        },

        openChatWith: function(userId) {
            var removeUser = false;
            if (this.visibleChatUsers.length < 3) {
                eventbus.emit('chat-window-opened', userId);
            } else {
                this.users.forEach(function(user){
                    if (user.id === userId && user.chatIsHidden === false) {
                        removeUser = true;
                    }
                });
                this.users.forEach(function(user){
                    if (user.id !== userId && user.chatIsHidden === false && removeUser === false) {
                        user.chatIsHidden = true;
                        removeUser = true;
                    }
                });
                eventbus.emit('chat-window-opened', userId);
            }
        },

        openAutoChat: function(userId) {
            if (this.visibleChatUsers.length < 3) {
                eventbus.emit('chat-window-opened', userId);
                eventbus.emit('push-first-message', userId);
            }
        },

        openComposeWindow: function() {
            this.composeIsOpen = true;

            this.users.forEach(function(user){
                user.chatIsHidden = true;
            });

            Vue.nextTick(function () {
                eventbus.emit('compose-window-opened');
            })
        },

        closeComposeWindow: function() {
            this.composeIsOpen = false;
        },

        toggleMenu: function() {
            this.menuIsOpen = ! this.menuIsOpen;
        },

        markEmailsAsDeleted: function() {
            for (var i = 0; i < this.conversations.length; i++ ) {
                this.conversations[i].deleted = true;
            }
            this.showEmailsDeletedMessage = true;
        },

        undoMarkEmailsAsDeleted: function() {
            for (var i = 0; i < this.conversations.length; i++ ) {
                this.conversations[i].deleted = false;
            }
            this.showEmailsDeletedMessage = false;
        }
    },

    computed: {
        unreadCount: function() {
            var count = 0;

            for ( var i = 0; i < this.conversations.length; i++ ) {
                if ( this.conversations[i].is_read === false ) {
                    count += 1;
                }
            }

            return count;
        },

        starredCount: function() {
            var count = 0;

            for ( var i = 0; i < this.conversations.length; i++ ) {
                if ( this.conversations[i].is_starred === true ) {
                    count += 1;
                }
            }

            return count;
        },

        hillaryPhoto: function() {
            for (var i = 0; i < this.users.length; i++) {
                if (this.users[i].name === "Hillary Clinton") {
                    return this.users[i].image;
                }
            }

            return '';
        },

        isSingleView: function() {
            return this.$route.path.indexOf('/conversations') === 0;
        },

        chatUsers: function() {
            var users = this.users.filter(function(value) {
                return value.messages.length > 0;
            });

            return users;
        },

        visibleChatUsers: function() {
            var users = this.users.filter(function(value) {
                return value.messages.length > 0 && value.chatIsHidden === false;
            });

            return users;
        },
    }
}
</script>

<style lang="sass">
    body {
        background-color: #39b5e3;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .column-wrapper {
        position: relative;

        .left-column {
            width: 200px;
            position: absolute;
            left: 0;
        }
        .main-column {
            padding-left: 200px;
        }
    }

    main.column-wrapper {
        .menu-toggle,
        .back-button {
            margin-bottom: 10px;
        }

        @media (min-width: 768px) {
            .back-button {
                display: none;
            }
        }

        @media (max-width: 767px) {
            .main-column {
                padding-left: 0;
                transition: padding .3s;
            }

            .left-column {
                width: 200px;
                position: absolute;
                left: -200px;
                transition: left .3s;
                z-index: 100;

                &.open {
                    left: 0;

                    + .main-column {
                        padding-left: 200px;
                    }
                }
            }
        }
    }

    .main-header {
        padding: 20px 0;

        .logo-wrap {
            padding: 0 20px 20px 20px;
            text-align: center;
        }

        .menu {
            text-align: right;

            > span {
                display: inline-block;
                vertical-align: middle;
                margin: 0 5px;
            }

            .username, .grid-menu {
                color: #FFFFFF;
            }

            .grid-menu {
                font-size: 20px;
                line-height: 36px;

                .dropdown-toggle {
                    cursor: pointer;
                }

                .dropdown-menu {
                    right: 0;
                    left: auto;
                }
            }

            .notifications {
                border-radius: 12px;
                width: 24px;
                height: 24px;
                line-height: 24px;
                font-size: 12px;
                background-color: #FFFFFF;
                text-align: center;
            }

            .user-icon {
                border-radius: 18px;
                width: 36px;
                height: 36px;
                line-height: 36px;
                background-color: #004A9F;
                text-align: center;
                color: #FFFFFF;
            }
        }

        @media (max-width: 767px) {
            .logo-wrap {
                width: 100%;
                position: static;
                left: auto;
                padding: 20px;
            }
            .main-column {
                padding-left: 0;
            }
        }
    }

    .secondary-header {
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 1px solid #FFFFFF;
        border-bottom: 1px solid #FFFFFF;

        .left-column {
            padding: 0 20px;

            span {
                font-size: 18px;
                color: #004AA0;
            }
        }
    }

    .sign-up-wrap {
        text-align: center;
        padding: 10px 0;
        margin-bottom: 20px;

        a {
            display: block;
            text-transform: uppercase;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: bold;
            background: #f7f7f7;
            padding-left: 20px;
            padding-right: 20px;
            border: none;
            margin-left: 25px;
            margin-right: 50px;

            &:hover {
                border-color: rgb(190,190,190);
                box-shadow: 0 1px 1px rgba(0,0,0,0.2);
                background: #f7f7f7;
                background-image: -webkit-linear-gradient(top, #f7f7f7, #dbdada);
                background-image: -moz-linear-gradient(top, #f7f7f7, #dbdada);
                background-image: -ms-linear-gradient(top, #f7f7f7, #dbdada);
                background-image: -o-linear-gradient(top, #f7f7f7, #dbdada);
                background-image: linear-gradient(to bottom, #f7f7f7, #dbdada);
            }
        }
    }

    .folders {
        margin: 0;
        padding: 0 0 31px 0;
        list-style: none;
        color: #FFFFFF;

        li {
            display: block;
            padding: 4px 10px 4px 20px;
            font-size: 18px;
            border-left: 5px solid transparent;
            cursor: pointer;
            height: 34px;

            &.v-link-active {
                color: #0a539b;
                border-left: 5px solid #0a539b;
            }

            &:hover {
                background: #34a4ce;
            }

            .tag-color {
                display: block;
                width: 18px;
                height: 18px;
                float: right;
                margin-top: 4px;
                margin-right: 20px;
            }

            &:last-child {
                &:after {
                    content: "";
                    width: 100%;
                    height: 0;
                    display: block;
                    margin: 15px 0;
                    clear: both;
                    border-bottom: 1px solid #FFFFFF;

                    @media (max-width: 767px) {
                        display: none;
                    }
                }
            }
        }
    }

    .left-column-inner {
        padding-left: 20px;
    }

    .hillary-profile {
        .photo {
            display: block;
            float: left;
            width: 40px;
            border: 1px solid #FFFFFF;
            margin-right: 10px;
        }

        .status-icon {
            margin-top: 12px;
        }

        .phone {
            background-color: #f4f4f4;
            border-color: #d6d6d6;
            float: right;
        }
    }

    .hillary-status {
        color: #FFFFFF;
        margin-top: 10px;
    }

    .status-icon {
        display: inline-block;
        width: 12px;
        height: 12px;
        vertical-align: middle;

        &.status-active {
            border-radius: 6px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#74d255+0,3f9322+100 */
            background: #74d255; /* Old browsers */
            background: -moz-linear-gradient(top,  #74d255 0%, #3f9322 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  #74d255 0%,#3f9322 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  #74d255 0%,#3f9322 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74d255', endColorstr='#3f9322',GradientType=0 ); /* IE6-9 */
        }

        &.status-inactive {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e33636+0,a30707+100 */
            background: #e33636; /* Old browsers */
            background: -moz-linear-gradient(top,  #e33636 0%, #a30707 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  #e33636 0%,#a30707 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  #e33636 0%,#a30707 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e33636', endColorstr='#a30707',GradientType=0 ); /* IE6-9 */
        }
    }

    ul.contacts {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: block;
            color: #FFFFFF;
            padding: 5px;
            cursor: pointer;

            &:hover {
                background-color: #34a4ce;
            }

            > span.status-icon {
                margin-top: 2px;
                margin-right: 10px;
            }

            > span.name {
                display: inline-block;
                vertical-align: middle;
                line-height: 16px;
            }

            .status-inactive + .name {
                color: #a11421;
            }
        }
    }

    .emails-deleted-message {
        text-align: center;
        margin: 20px 0;

        a {
            color: #8a6d3b;
        }
    }

    .phone-modal {
        .close {
            margin-left: 15px;
            margin-bottom: 15px;
        }
    }

    .site-footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .chat-windows {
        position: fixed;
        right: 20px;
        bottom: 0;
        text-align: right;
    }
</style>