<template>
    <div v-bind:id="'chat-window-' + index" class="chat-window hidden-xs" :class="{ 'hidden': this.user.chatIsHidden, 'minimized': this.minimized }">
        <div v-if="user">
            <header class="chat-header">
                <div class="first-row" @click="minimized = ( ! minimized )">
                    <span
                        class="status-icon"
                        v-bind:class="{'status-active': user.is_active, 'status-inactive': (!user.is_active)}"></span>
                    <span class="name">{{ user.name }}</span>
                    <span class="actions">
                        <span class="action action-minimize glyphicon glyphicon-minus"></span>
                        <span class="action action-resize glyphicon glyphicon-resize-full"></span>
                        <span class="action action-close glyphicon glyphicon-remove" @click="closeChatWindow"></span>
                    </span>
                </div>
            </header>
            <div class="chat-body" v-show="(! minimized)">
                <div v-for="message in user.messageStack">
                    <p><strong>{{ message.sender }}: </strong>{{ message.content }}</p>
                    <p class="time">{{ message.time }}</p>
                </div>
                <div v-if="userIsTyping" class="user-is-typing">{{ user.short_name }} is typing</div>
            </div>
            <div class="chat-entry" v-show="(! minimized)">
                <textarea class="chat-entry-input" v-model="currentVisitorMessage" v-on:keyup.enter="submitVisitorMessage"></textarea>
            </div>
        </div>
    </div>
</template>

<script>
var Vue = require('vue');
var moment = require('moment');
import eventbus from './event-bus.js';

module.exports = {
    data: function() {
        return {
            minimized: false,
            currentVisitorMessage: '',
            userIsTyping: false
        }
    },

    methods: {
        closeChatWindow: function() {
            this.user.chatIsHidden = true;
        },

        submitVisitorMessage: function(event) {
            var vm = this;

            this.addMessage({
                time: moment().calendar(),
                content: this.currentVisitorMessage,
                sender: "Me"
            });

            this.currentVisitorMessage = '';

            window.setTimeout(function(){
                vm.nextUserMessage();
            }, 1000);
        },

        nextUserMessage: function() {
            var vm = this;

            if ( this.user.messages.length && this.user.usedMessageCount < this.user.messages.length ) {

                vm.userIsTyping = true;

                Vue.nextTick(function () {
                    vm.scrollToChatEnd();
                });

                window.setTimeout(function(){
                    // Add it to the chat window
                    vm.addMessage({
                        time: moment().calendar(),
                        content: vm.user.messages[vm.user.usedMessageCount],
                        sender: vm.user.short_name
                    });

                    vm.user.usedMessageCount = vm.user.usedMessageCount + 1;
                    vm.userIsTyping = false;

                    Vue.nextTick(function () {
                        vm.scrollToChatEnd();
                    });
                }, (this.user.messages[this.user.usedMessageCount].length * 30));
            }

        },

        addMessage: function(message) {
            var vm = this;

            this.user.messageStack.push(message);

            Vue.nextTick(function () {
                vm.scrollToChatEnd();
            });
        },

        scrollToChatEnd: function() {
            var chat_body = document.querySelector('#chat-window-' + this.index + ' .chat-body');
            if (chat_body) {
                chat_body.scrollTop = chat_body.scrollHeight;
            }
        }
    },

    props: ['user', 'index'],

    created: function() {
        var vm = this;

        eventbus.on('chat-window-opened', function(userId){
            if ( userId === vm.user.id ) {
                vm.minimized = false;
                vm.user.chatIsHidden = false;
                Vue.nextTick(function () {
                    vm.scrollToChatEnd();
                });
            }
        });

        eventbus.on('push-first-message', function(userId){
            if ( userId === vm.user.id ) {
                vm.nextUserMessage();
            }
        });
    }
};
</script>

<style lang="sass">
    .chat-window {
        width: 250px;
        background-color: #FFFFFF;
        display: inline-block;
        margin-left: 30px;
        vertical-align: bottom;
        text-align: left;

        &.hidden {
            display: none;
        }

        .chat-header {
            .first-row {
                background-color: #393737;
                color: #FFFFFF;
                padding: 10px;
                cursor: pointer;

                > span {
                    display: inline-block;

                    &.name {
                        max-width: 100px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
        }

        @media (max-width: 992px) {
            width: 215px;

            .chat-header .first-row > span.name {
                max-width: 80px;
            }
        }

        .status-icon {
            margin-right: 10px;
        }

        .actions {
            float: right;

            > span {
                color: #B2B2B2;
                padding: 0 5px;
                cursor: pointer;

                &:hover, &:active {
                    color: #FFFFFF;
                }
            }
        }

        .chat-body {
            height: 200px;
            padding: 10px;
            overflow-y: scroll;

            > div {
                margin-bottom: 10px;
            }

            p {
                margin: 0;
            }

            .time {
                color: rgb(150,150,150);
            }
        }

        .chat-entry {
            border-top: 1px solid #eee;
            padding: 8px;

            textarea {
                display: block;
                width: 100%;
                height: 50px;
                border: 1px solid rgba(0,0,0,0.25);
                box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.25);
                outline: none;
                padding: 5px;
                resize: none;

                &:active, &:focus {
                    border: 1px solid #5193fb;
                }
            }
        }

        .user-is-typing:after {
          overflow: hidden;
          display: inline-block;
          vertical-align: bottom;
          -webkit-animation: ellipsis steps(4,end) 900ms infinite;
          animation: ellipsis steps(4,end) 900ms infinite;
          content: "\2026"; /* ascii code for the ellipsis character */
          width: 0px;
        }
    }

    @keyframes ellipsis {
      to {
        width: 1.25em;
      }
    }

    @-webkit-keyframes ellipsis {
      to {
        width: 1.25em;
      }
    }
</style>