<template>
    <div class="compose-window">
        <form class="sign-up-form" v-on:submit.prevent="submitForm">
            <header class="compose-header" @click="minimized = ( ! minimized )">
                <span class="name">New Message</span>
                <span class="actions">
                    <span class="action action-minimize glyphicon glyphicon-minus"></span>
                    <span class="action action-resize glyphicon glyphicon-resize-full"></span>
                    <span class="action action-close glyphicon glyphicon-remove" @click="closeComposeWindow"></span>
                </span>
            </header>
            <div class="compose-body" v-show="(! minimized)">
                <input v-show="(!formCompleted)" required class="text-input email-address" type="email" v-model="email" placeholder="Email">
                <input v-show="(!formCompleted)" required class="text-input first-name" type="text" v-model="first_name" placeholder="First Name">
                <input v-show="(!formCompleted)" required class="text-input last-name" type="text" v-model="last_name" placeholder="Last Name">
                <div v-show="(!formCompleted)" id="email-subject" class="text-input email-subject">{{{ emailSubject }}}</div>
                <div id="email-body" class="text-input email-body" v-show="(!formCompleted)">{{{ emailBody }}}</div>
                <div v-show="formCompleted" class="text-input thank-you-message"><h3>{{{ thankYouMessage }}}</h3></div>
            </div>
            <div class="compose-footer" v-show="(! minimized)">
                <div class="content">
                    <input :disabled="formCompleted" type="submit" value="Sign Up" class="btn btn-primary">
                    <span class="actions">
                        <i class="glyphicon glyphicon-paperclip"></i>
                        <i class="glyphicon glyphicon-camera"></i>
                    </span>
                    <div class="pull-right">
                        <a
                            class="compose-delete"
                            tabindex="0"
                            role="button"
                            data-toggle="popover"
                            data-trigger="focus"
                            data-placement="left"
                            data-content="{{ deleteMailMessage }}">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
var Vue = require('vue');
var VueResource = require('vue-resource');
import eventbus from './event-bus.js';

Vue.use(VueResource);

Vue.http.options.root = '/wp-json';
if (__DEV__) {
    Vue.http.options.root = 'http://hillarysinbox.dev/wp-json';
    // Fix for CORS issue - Vue Resource seems to send headers along with OPTIONS request that it shouldn't
    Vue.http.options.emulateJSON = true;
}

module.exports = {
    data: function() {
        return {
            minimized: false,
            first_name: '',
            last_name: '',
            email: '',
            formCompleted: false
        }
    },

    methods: {
        closeComposeWindow: function() {
            eventbus.emit('close-compose-window');
        },

        submitForm: function() {
            var email_body = this.getEmailBody();
            var email_subject = this.getEmailSubject();
            var vm = this;

            Vue.http.post('hillarymail/v1/form_entry', {
                email: this.email,
                first_name: this.first_name,
                last_name: this.last_name,
                subject: email_subject,
                body: email_body,
            }).then(function(response) {
                var mailto = 'mailto:';
                if (response.data.success === true) {
                    vm.formCompleted = true;
                    mailto += vm.email;
                    mailto += '?subject=' + encodeURIComponent(email_subject);
                    mailto += '&body=' + encodeURIComponent(email_body);
                    window.location.href = mailto;
                }
            }, function(response) {
                console.log(response);
            });
        },

        getEmailBody: function() {
            var email_body = document.getElementById('email-body');

            if (email_body) {
                return this.getPlainText(email_body);
            }

            return '';
        },

        getEmailSubject: function() {
            var email_subject = document.getElementById('email-subject');

            if (email_subject) {
                return this.getPlainText(email_subject);
            }

            return '';
        },

        getPlainText: function( node ) {
            var placeholders;
            var result;
            var to_remove = [];

            placeholders = node.querySelectorAll('.dropdown-placeholder');
            placeholders.forEach(function(el){
                el.innerHTML = el.nextSibling.querySelector(':checked').value;
                to_remove.push((el.nextSibling.textContent || el.nextSibling.innerText || ''));
            });

            result = node.textContent || node.innerText || '';

            for (var i = 0; i < to_remove.length; i++) {
                if (to_remove[i] !== '') {
                    result = result.replace(to_remove[i],'');
                }
            }

            placeholders.forEach(function(el){
                el.innerHTML = '';
            });

            return result.trim();
        },

        onComposeWindowOpened: function() {
            jQuery('.compose-delete').popover();
        }
    },

    props: ['email-subject','email-body','thank-you-message','delete-mail-message'],

    created: function() {
        eventbus.on('compose-window-opened', this.onComposeWindowOpened);
    }
};
</script>

<style lang="sass">
    .compose-window {
        position: fixed;
        bottom: 0;
        width: 500px;
        max-width: 90%;
        left: 5%;
        background-color: #FFFFFF;
        z-index: 100;

        @media (min-width: 768px) {
            left: auto;
            right: 100px;
        }

        .compose-header {
            background-color: #393737;
            color: #FFFFFF;
            padding: 10px;
            cursor: pointer;

            .actions {
                float: right;

                > span {
                    color: #B2B2B2;
                    padding: 0 5px;
                    cursor: pointer;

                    &:hover, &:active {
                        color: #FFFFFF;
                    }
                }
            }
        }

        .compose-footer {
            padding: 10px;
            background-color: #f4f4f4;

            .actions {
                i {
                    margin: 0 5px;
                    vertical-align: middle;
                    cursor: pointer;
                }
            }

            .pull-right {
                height: 34px;

                i {
                    line-height: 34px;
                    vertical-align: middle;
                    cursor: pointer;
                }
            }
        }

        .text-input {
            outline: none;
            border: none;
            width: 100%;
            padding: 10px;
            border-bottom: 1px solid rgb(230,230,230);
        }

        .text-input.email-body,
        .text-input.thank-you-message {
            height: 300px;
            padding: 10px;
            overflow-y: scroll;
        }

        .thank-you-message {
            text-align: center;
        }

        .email-body,
        .email-subject {
            .select-wrap {
                position: relative;
                display: inline-block;

                &:after {
                    content: "";
                    display: block;
                    width: 0;
                    height: 0;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    border-top: 4px solid rgb(50,50,50);
                    position: absolute;
                    right: 5px;
                    top: 50%;
                    margin-top: -2px;
                    pointer-events: none;
                }
            }

            select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-color: #39b5e3;
                color: #FFFFFF;
                text-indent: 0.01px;
                text-overflow: '';
                cursor: pointer;
                border: none;
                outline: none;
                padding: 2px 15px 2px 5px;
                border-radius: 0;
                position: relative;
            }
        }

        .compose-delete {
            color: #333;

            &:active, &:focus {
                outline: none;
            }
        }
    }
</style>