<template>
    <div class="conversation-list">
        <div class="colgroup">
            <div class="col meta"></div>
            <div class="col sender"></div>
            <div class="col body"></div>
            <div class="col time"></div>
        </div>
        <template v-for="conversation in filteredConversations">
            <conversation-list-item
                :conversation="conversation"
                :users="users"
                :index="$index"
                :tags="tags">
            </conversation-list-item>
        </template>
    </div>
</template>

<script>
var moment = require('moment');
import eventbus from './event-bus.js';
import ConversationListItem from './conversation-list-item.vue';

module.exports = {
    data: function() {
        return {}
    },

    components: {
        ConversationListItem: ConversationListItem
    },

    route: {
        data: function (transition) {
            if (transition.to.path === "/") {
                eventbus.emit('show-inbox');
            }
            if (transition.to.path === "/starred") {
                eventbus.emit('show-starred');
            }
            if (transition.to.path.indexOf("/tags/") === 0 ) {
                eventbus.emit('show-tag', transition.to.params.tag);
            }
            transition.next({});
        }
    },

    methods: {
        userNameById: function(id) {
            for (var i = 0; i < this.users.length; i++ ) {
                if (this.users[i].id === id) {
                    return this.users[i].name;
                }
            }

            return null;
        },

        itemAuthorsList: function(conversation) {
            var authors = [];

            for ( var i = 0; i < conversation.emails.length; i++ ) {
                if ( this.userNameById(conversation.emails[i].from[0]) === "Hillary Clinton" ) {
                    authors.push('me');
                } else {
                    authors.push(this.userNameById(conversation.emails[i].from[0]).toLowerCase());
                }
            }

            return authors.join(', ');
        }
    },

    computed: {
        filteredConversations: function() {
            var vm = this;
            var conversations = vm.conversations;
            var conversationSearch = vm.conversationSearch.toLowerCase();

            conversations = conversations.filter(function(value) {
                return ! value.deleted;
            });

            if (vm.showOnlyStarred) {
                conversations = conversations.filter(function(value) {
                    return value.is_starred;
                });
            }

            if (vm.currentTag !== '') {
                conversations = conversations.filter(function(value) {
                    for ( var i = 0; i < value.tags.length; i++ ) {
                        if ( value.tags[i].slug === vm.currentTag ) {
                            return true;
                        }
                    }
                    return false;
                });
            }

            if (conversationSearch) {
                conversations = conversations.filter(function (conversation) {


                    var contentToSearch = [
                        conversation.tag_string,
                        conversation.title,
                        conversation.all_emails_string,
                        vm.itemAuthorsList(conversation)
                    ];

                    return String(contentToSearch).toLowerCase().indexOf(conversationSearch) > -1;
                });
            }

            return conversations;
        }
    },

    props: ['conversations','users','tags','show-only-starred','current-tag','conversation-search']
};
</script>

<style lang="sass">
    .conversation-list {
        font-family: Times New Roman, Times, Baskerville, Georgia, serif;
        display: table;
        width: 100%;
        table-layout: fixed;
        overflow: hidden;
        white-space: nowrap;

        .colgroup {
            display: table-column-group;

            > div {
                display: table-column;

                &.meta {
                    width: 100px;
                }

                &.sender {
                    width: 220px;
                }

                &.time {
                    width: 150px;
                }

                @media (min-width: 768px) and (max-width: 991px) {
                    &.meta {
                        width: 70px;
                    }
                }
            }
        }

        @media (max-width: 767px) {
            display: block;

            .colgroup {
                display: none;

                > div {
                    display: none;
                }
            }
        }
    }
</style>