<template>
    <div>
        <div
            class="conversation conversation-single"
            v-if="!waiting && conversation !== null"
            v-bind:class="{ 'read': conversation.is_read, 'unread': ( ! conversation.is_read ) }">

            <header class="conversation-header">
                <p>{{ conversation.title }}</p>
            </header>
            <div class="conversation-body" v-for="email in conversation.emails">
                <div class="email">
                    <div class="meta">
                        <span class="time">{{ getFormattedTime(email.time) }} ({{ timeFromNow(email.time) }})</span>
                    </div>
                    <span class="from">{{ userNameById(email.from[0]) }}</span>
                    <span class="to">to {{ userNameById(email.to[0]) }}</span>
                    <div class="content">
                        {{{ email.content }}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import conversationMixin from './conversation-mixin.js';
import eventbus from './event-bus.js';

module.exports = {
    data: function() {
        return {}
    },

    mixins: [conversationMixin],

    props: ['conversation','users','index','tags','waiting'],

    route: {
        data: function (transition) {
            eventbus.emit('switch-to-conversation-view', transition.to.params.conversation);
            transition.next({});
        }
    },
};
</script>

<style lang="sass">
    .conversation-single {
        padding: 20px;
        background-color: #FFFFFF;

        header, .email {
            border-bottom: 1px solid #cbcbcb;
        }

        header {
            p {
                font-size: 16px;
            }
        }

        .from {
            margin-top: 10px;
            display: block;
            font-weight: bold;
            font-size: 15px;
        }

        .to {
            display: block;
            font-size: 13px;
        }

        .content {
            margin-top: 20px;
        }

        .meta {
            float: right;
        }
    }
</style>