<template>
    <div
        class="conversation conversation-list-item"
        v-bind:class="{ 'read': conversation.is_read, 'unread': ( ! conversation.is_read ) }">
        <div class="meta">
            <span class="checkbox-wrap"><input type="checkbox"></span>
            <span class="is_starred" @click="conversation.is_starred = ( ! conversation.is_starred )">
                <span
                    class="glyphicon"
                    v-bind:class="{ 'glyphicon-star-empty': ( ! conversation.is_starred ), 'glyphicon-star': conversation.is_starred }"
                    ></span>
            </span>
        </div>
        <div class="sender" v-link="{ path: '/conversations/' + conversation.id }">
            {{ authorsList }}
        </div>
        <div class="time visible-xs-block" v-link="{ path: '/conversations/' + conversation.id }">
            {{ getFormattedTime(conversation.emails[0].time) }}
        </div>
        <div class="body" @click="switchToConversationView(conversation)">
            <span class="tags">
                <template v-for="tag in conversation.tags">
                    <span
                        class="label label-default label-tag label-{{ tag.slug }}"
                        v-bind:style="{ backgroundColor: tags[tag.slug].background, color: tags[tag.slug].text }">
                        {{ tag.name }}
                    </span>
                </template>
            </span>
            <span class="subject"><span class="title">{{ conversation.title }}</span> - {{{ conversation.emails[0].excerpt }}}</span>
        </div>
        <div class="time hidden-xs" v-link="{ path: '/conversations/' + conversation.id }">
            {{ getFormattedTime(conversation.emails[0].time) }}
        </div>
    </div>
</template>

<script>
import conversationMixin from './conversation-mixin.js';
import eventbus from './event-bus.js';

module.exports = {
    data: function() {
        return {}
    },

    mixins: [conversationMixin],

    methods: {
        switchToConversationView: function( conversation ) {
            eventbus.emit('switch-to-conversation-view', conversation);
        }
    },

    props: ['conversation','users','index','tags']
};
</script>

<style lang="sass">
.conversation-list-item {
    border-radius: 0;
    cursor: pointer;
    border: none;
    background-color: #E9F1F3;
    display: table-row;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;

    &:first-child {
        border-top: 0;
    }

    &.read {
        background-color: #D3ECF2;
    }

    &.unread {
        .sender,
        .title {
            font-weight: bold;
        }
    }

    .label-tag {
        margin-right: 5px;
        border-radius: 0;
        padding: 1px 2px 1px 4px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    > div {
        display: table-cell;
        text-align: left;
        height: 50px;
        overflow: hidden;
        white-space: nowrap;
        width: auto;
        vertical-align: middle;
        border-bottom: 1px solid #FFFFFF;
        text-overflow: ellipsis;
    }

    .checkbox-wrap {
        margin-right: 5px;
        vertical-align: middle;
    }

    .is_starred {
        vertical-align: middle;
    }

    .glyphicon-star {
        color: #f9b231;
        text-shadow: 0 0 0 rgb(0,0,0);
    }

    .glyphicon-star-empty:hover {
        color: #f9b231;
    }

    .meta {
        padding-left: 10px;
    }

    .time {
        padding-right: 10px;
        text-align: right;
    }

    @media (max-width: 767px) {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #FFFFFF;

        &:before {
            display: table;
            content: " ";
        }

        > div {
            display: block;
            border: none;
            padding: 0;
            height: 30px;

            &.meta {
                display: none;
            }

            &.sender {
                width: 75%;
                margin-right: 5%;
                float: left;
            }

            &.time {
                float: left;
                width: 20%;
                padding-right: 0;
            }

            &.body {
                float: left;
                width: 100%;
                overflow: hidden;
            }
        }
    }
}
</style>