<template>
    <div
        class="sent-folder">
        {{{ sentMailMessage }}}
    </div>
</template>

<script>

module.exports = {
    data: function() {
        return {}
    },

    props: ['sentMailMessage']
};
</script>

<style lang="sass">
    .sent-folder{
        padding: 20px;
        background-color: #FFFFFF;
    }
</style>